@using Model.JavModels;
@using Model.ScanModels;

@{ 
    var av = (AV)ViewData["av"];
    var matchMap = (MatchMap)ViewData["match"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebAV-详情</title>

    @Html.Partial("Header")
</head>

<body>
    @Html.Partial("Share")

    @if (!string.IsNullOrEmpty(av.ID))
    {
        <div class="card mb-3" style="width:100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@av.PictureURL" class="card-img" alt="..." style="width:70%">
                </div>
                <div class="col-md-8" style="width:30%">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="id">番号</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.ID">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">名称</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Name">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="actress">演员</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Actress">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="category">类型</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Category">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="director">导演</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Director">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="publisher">发行商</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Publisher">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="company">制作公司</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.Company">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="length">时长</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.AvLength">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="releaseDate">发行日期</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="@av.ReleaseDate">
                    </div>
                </div>
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(matchMap.FilePath))
    {
        <button type="button" class="btn btn-success" data-url="http://www.cainqs.com:8087/webav/playav?filePath=@(matchMap.FilePath) ">播放</button>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
           该作品暂时还没有预览
        </div>
    }

    <script>
        $(".btn").click(function () {
            var url = $(this).attr("data-url");

            window.location.href = url;
        })
    </script>
</body>
</html>