@using Model.JavModels;
@using Model.ScanModels;
@using Utils;

@{ 
    var av = (AV)ViewData["av"];
    var matchMap = (ScanResult)ViewData["match"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebAV-详情</title>

    @Html.Partial("Header")
</head>

<body>
    @Html.Partial("Share")

    @if (!string.IsNullOrEmpty(av.ID))
    {
        <div class="card mb-3" style="width:100%;">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <img src="@av.PictureURL" class="card-img" alt="..." style="width:100%">
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            番号
                            <span class="badge">@av.ID</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            名称
                            <span class="badge" style="word-break:normal;width:auto;display:block;white-space:pre-wrap;word-wrap:break-word;overflow:hidden;">@av.Name</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            演员
                            @foreach (var ac in av.Actress.Split(','))
                            {
                                <a class="badge badge-primary badge-pill" href="@("http://www.cainqs.com:8087/webav/getav?searchType=actress&search=" + ac)">@ac</a>
                            }
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            类型
                            @foreach (var ca in av.Category.Split(','))
                            {
                                <a class="badge badge-primary badge-pill" href="@("http://www.cainqs.com:8087/webav/getav?searchType=category&search=" + ca)">@ca</a>
                            }
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            导演
                            <span class="badge">@av.Director.Replace(",","")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            发行商
                            <span class="badge">@av.Publisher.Replace(",", "")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            制作公司
                            <span class="badge">@av.Company.Replace(",", "")</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            时长
                            <span class="badge">@av.AvLength</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:12px">
                            发行日期
                            <span class="badge">@av.ReleaseDate.ToString("yyyy-MM-dd")</span>
                        </li>
                    </ul>                
                </div>
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(matchMap.AvFilePath) && matchMap.FileSize > 0)
    {
        <button type="button" class="btn btn-success" data-url="http://www.cainqs.com:8087/webav/playav?filePath=@(matchMap.AvFilePath) ">播放 @FileSize.GetAutoSizeString(matchMap.FileSize, 1)</button>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
           该作品暂时还没有预览
        </div>
    }

    <script>
        $(".btn").click(function () {
            var url = $(this).attr("data-url");
            window.open(url, '_blank');
        })
    </script>
</body>
</html>