@using Model.JavModels;
@using Model.ScanModels
@using Utils

@{ 
    var avs = (List<ScanResult>)ViewData["avs"];
    string search = (string)ViewData["search"];
    int count = int.Parse(ViewData["count"].ToString());
    int size = int.Parse(ViewData["size"].ToString());
    int current = int.Parse(ViewData["current"].ToString());
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebAV-搜索</title>

    @Html.Partial("Header")
</head>

<body>
    @Html.Partial("Share")

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">搜索 @search</h1>
            <p class="lead">共找到 @avs.Count</p>
        </div>
    </div>

    <div style="width:30%;">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">输入搜索内容</span>
            </div>
            <input type="text" class="form-control" aria-label="Text input to search" id="searchContent" onkeydown="onKeyDown(event)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-info" type="button" id="searchBtn">搜索</button>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container-fluid" style="width:90%;margin-left:50px">
            <div class="row row-cols-5">
                @foreach (var av in avs)
                {
                    <div class="col">
                        <div class='card'>
                            <img src="@av.PicUrl" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">@av.AvId</h6>
                                <a class="card-text" style="font-size:14px" href="@("http://www.cainqs.com:8087/webav/av?avid=" + av.MatchAvId)">@av.AvName</a>
                                @if (av.FileSize > 0)
                                {
                                    <p class="card-text" style="font-size:14px">@(FileSize.GetAutoSizeString(av.FileSize, 1))</p>
                                    <a class="btn btn-info" href="/webav/playav?filepath=@av.AvFilePath" target="_blank" style="font-size:14px">播放</a>
                                }
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    @foreach (var ac in av.ActressList)
                                    {
                                        <a class="badge badge-success badge-pill" href="@("http://www.cainqs.com:8087/webav/getav?search=" + ac)">@ac</a>
                                    }
                                </li>
                                <li class="list-group-item">
                                    @foreach (var ca in av.CategoryList.Take(5))
                                    {
                                        <a class="badge badge-info badge-pill" href="@("http://www.cainqs.com:8087/webav/getav?search=" + ca)">@ca</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <nav aria-label="...">
        <ul class="pagination">
            @for (int i = 1; i <= count; i++)
            {
                if (i != current)
                {
                    <li class="page-item"><a class="page-link" href="@("http://www.cainqs.com:8087/webav/getav?search=" + search + "&page=" + i + "&pagesize=" + size)">@i</a></li>
                }
                else
                { 
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            @i
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
            }
        </ul>
    </nav>

    <script>
        $("#searchBtn").click(function () {
            search();
        });

        function onKeyDown(event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 27) { // 按 Esc

            }
            if (e && e.keyCode == 113) { // 按 F2

            }
            if (e && e.keyCode == 13) { // enter 键
                search();
            }
        }

        function search() {
            var value = $("#searchContent").val();
            var param = "";

            if (value != "") {
                var param = "search=" + value;

                window.location.href = "http://www.cainqs.com:8087/webav/getav?" + param;
            }

            return "";
        }
    </script>
</body>
</html>