<!DOCTYPE html>

@model DirectoryInfo[]
@using Utils

<html>
<head>
    <meta charset="utf-8" />
    <title>WebAV-分享</title>

    @Html.Partial("Header")
</head>

<body>
    @Html.Partial("Share")

    @if (Model == null || Model.Length <= 0)
    { 
        <div class="alert alert-warning" role="alert">
            当前没有分享的文件
        </div>
    }

    <ul class="list-group">
        @foreach (var dir in Model)
        {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @dir.Name
            <span class="badge badge-primary badge-pill">共@(dir.GetFiles("*.*", SearchOption.AllDirectories).Length)个文件 总大小@(FileSize.GetAutoSizeString(dir.GetFiles("*.*", SearchOption.AllDirectories).Sum(x=>x.Length), 1))</span>
            <span data-id="@dir.Name" data-url="@("http://www.cainqs.com:8087/webav/sharefile?name=" + dir.Name)" class="badge badge-info badge-pill qrBtn">二维码</span>
            <a class="badge badge-success badge-pill qr" href="@("http://www.cainqs.com:8087/webav/sharefile?name=" + dir.Name)" data-id="@dir.Name" data-url="@("http://www.cainqs.com:8087/webav/sharefile?name=" + dir.Name)">详情</a>
            <div id="@dir.Name" style="display:none;position:absolute"></div>
        </li>
        }
    </ul>

    <script>
        $(".nav-item").removeClass("active");
        $("#sharelist").addClass("active");

        $(".qr").each(function (index, element) {
            var id = "#" + $(this).data("id");
            var url = $(this).data("url");

            $(id).qrcode({ width: 120, height: 120, text: toUtf8(url) });
        });

        $(".qrBtn").click(function () {
            var id = "#" + $(this).data("id");
            var div = $(id);

            if (div.is(":hidden")) {
                div.show();
                div.css("left", document.body.scrollLeft + event.clientX + 1);
                div.css("top", document.body.scrollLeft + event.clientY + 10);
            } else {
                div.hide();
            }
        });

        function toUtf8(str) {
            var out, i, len, c;
            out = "";
            len = str.length;
            for (i = 0; i < len; i++) {
                c = str.charCodeAt(i);
                if ((c >= 0x0001) && (c <= 0x007F)) {
                    out += str.charAt(i);
                } else if (c > 0x07FF) {
                    out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                    out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                } else {
                    out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                }
            }
            return out;
        }
    </script>
</body>
</html>