@using Model.ScanModels
@using Model.WebModel
@using Model.Common
@using System.IO
@using Utils

@{
    Dictionary<ShowMagKey, List<RemoteScanMag>> data = (Dictionary<ShowMagKey, List<RemoteScanMag>>)ViewData["data"];
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowMag</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-4">种子下载</h1>
            <p class="lead">最近一次种子扫描的结果，共 @data.Count 部</p>
        </div>

        <div class="container-fluid">
            <div class="row row-cols-5">
                @foreach (var d in data)
                {
                    var classStr = d.Value.FirstOrDefault().ClassStr;

                    <div class="col">
                        <div class='@classStr'>
                            <img src="@d.Value.FirstOrDefault().AvUrl.Replace("ps.jpg", "pl.jpg")" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">@d.Value.FirstOrDefault().AvId</h5>
                                <p class="card-text">@d.Value.FirstOrDefault().AvName</p>
                                @if (!string.IsNullOrEmpty(d.Value.FirstOrDefault().MatchFile))
                                {
                                    <p class="card-text">@(FileSize.GetAutoSizeString(d.Value.FirstOrDefault().MatchFileSize, 1))</p>
                                    <a href="/webav/playav?filepath=@d.Value.FirstOrDefault().MatchFile" target="_blank">play</a>
                                }
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var dd in d.Value.OrderByDescending(x => x.MagSize).Take(5))
                                {
                                    <li class="list-group-item" data-mag="@dd.MagUrl">@(dd.MagTitle + " " + Utils.FileSize.GetAutoSizeString(dd.MagSize, 1))</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="btn-group fixed-bottom" style="width:50%;margin-left:20px">
            <button type="button" class="btn btn-secondary filter" id="all" aria-pressed="true" value="1">全部</button>
            <button type="button" class="btn btn-primary filter" id="exist" aria-pressed="true" value="2">已存在</button>
            <button type="button" class="btn btn-primary filter" id="notExist" aria-pressed="true" value="4">不存在</button>
            <button type="button" class="btn btn-warning filter" id="greaterThenExist" aria-pressed="true" value="8">大于已存在</button>
            <button type="button" class="btn btn-danger filter" id="greaterThenNotExist" value="32">大于不存在</button>
            <button type="button" class="btn btn-info filter" id="noSeeds" aria-pressed="true" value="16">种子有大小</button>
            <button type="button" class="btn btn-success" id="download" aria-pressed="true">下载</button>
        </div>
</body>
</html>

<script>
    var download = '';

    $(".list-group-item").click(function () {
        $(this).toggleClass("list-group-item-info");
    });

    $(".filter").click(function () {
        window.location.href = 'http://www.cainqs.com:8087/webav/ShowMag?type=' + $(this).val();
    });

    $("#download").click(function () {
        $(".list-group-item-info").each(function (index, element) {
            download += $(this).data("mag") + "\n\r";
        });

        $.ajax({
            type: 'post',
            url: '/webav/Add115Task',
            data: { 'mag': download },
            success: function(result){
                alert(result.msg);
            },
            dataType: 'json'
        });
    });
</script>