@using Model.ScanModels
@using Model.WebModel
@using Model.Common
@using System.IO
@using Utils

@{
    Dictionary<ShowMagKey, List<RemoteScanMag>> data = (Dictionary<ShowMagKey, List<RemoteScanMag>>)ViewData["data"];
    int jobId = int.Parse(ViewData["jobId"].ToString());
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>浏览种子</title>
        
        @Html.Partial("Header")
    </head>

    <body>
        @Html.Partial("Share")

        <div class="jumbotron">
            <h1 class="display-4">种子下载</h1>
            <p class="lead">最近一次种子扫描的结果，共 @data.Count 部</p>
        </div>

        <div class="container-fluid">
            <div class="row row-cols-6">
                @foreach (var d in data)
                {
                    var classStr = d.Value.FirstOrDefault().ClassStr;

                    <div class="col">
                        <div class='@classStr'>
                            <img src="@d.Value.FirstOrDefault().AvUrl.Replace("ps.jpg", "pl.jpg")" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">@d.Value.FirstOrDefault().AvId</h6>
                                <p class="card-text" style="font-size:14px">@d.Value.FirstOrDefault().AvName</p>
                                @if (!string.IsNullOrEmpty(d.Value.FirstOrDefault().MatchFile))
                                {
                                    <p class="card-text" style="font-size:14px">@(FileSize.GetAutoSizeString(d.Value.FirstOrDefault().MatchFileSize, 1))</p>
                                    <a class="btn btn-info" href="/webav/playav?filepath=@d.Value.FirstOrDefault().MatchFile" target="_blank" style="font-size:14px">播放</a>
                                }
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var dd in d.Value.OrderByDescending(x => x.MagSize).Take(3))
                                {
                                    <li class="list-group-item" data-mag="@dd.MagUrl" style="font-size:14px">@(dd.MagTitle + " " + Utils.FileSize.GetAutoSizeString(dd.MagSize, 1))</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="btn-group fixed-bottom" style="width:50%;margin-left:20px">
            <button type="button" class="btn btn-secondary filter" id="all" aria-pressed="true" value="1">全部</button>
            <button type="button" class="btn btn-primary filter" id="exist" aria-pressed="true" value="2">已存在</button>
            <button type="button" class="btn btn-light filter" id="notExist" aria-pressed="true" value="4">不存在</button>
            <button type="button" class="btn btn-warning filter" id="greaterThenExist" aria-pressed="true" value="8">大于已存在</button>
            <button type="button" class="btn btn-danger filter" id="greaterThenNotExist" value="32">大于不存在</button>
            <button type="button" class="btn btn-info filter" id="noSeeds" aria-pressed="true" value="16">种子有大小</button>
            <button type="button" class="btn btn-dark filter" id="noMagSize" aria-pressed="true" value="64">种子无大小</button>
            <button type="button" class="btn btn-success" id="download" aria-pressed="true">下载</button>
        </div>
</body>
</html>

<script>
    var download = '';

    $(".list-group-item").click(function () {
        $(this).toggleClass("list-group-item-info");
    });

    $(".filter").click(function () {
        window.location.href = 'http://www.cainqs.com:8087/webav/ShowMag?type=' + $(this).val() + "&jobid=" + @jobId;
    });

    $("#download").click(function () {
        $(".list-group-item-info").each(function (index, element) {
            download += $(this).data("mag") + "\n\r";
        });

        $.ajax({
            type: 'post',
            url: '/webav/Add115Task',
            data: { 'mag': download },
            success: function(result){
                alert(result.msg);
            },
            dataType: 'json'
        });
    });
</script>